@page "/"
@layout NoNavMenuLayout
<PageTitle>Login</PageTitle>
<div class="d-flex justify-content-center align-items-center vh-100 flex-column gap-3">
        <h1>Login</h1>
        <button class="btn btn-primary " type="button" style="width: 25%">Login</button>
        <button class="btn btn-primary" type="button" style="width: 25%">Sign Up</button>
</div>