@page "/"
@layout NoNavMenuLayout
<PageTitle>Login</PageTitle>





<!-- This centers the login box-->
<div class="d-flex align-items-center vh-100 flex-column gap-5">
    <!-- Panther Logo-->
    <div class="text-center">
        <img src="images/Raster.png" class="img-fluid" style="width: 25%" alt="Panther Logo">
    </div>
    <h1>Login</h1>

    <!-- User Id input -->
    <div class="form-group" style="width: 15%">
        <input type="text" class="form-control" id="loginInput"
               @bind="userIdInput" placeholder="Email or Username"/>
    </div>
    <div class="form-group" style="width: 15%">
        <input type="password" class="form-control" id="passwordInput"
               @bind="userPassword" placeholder="Password"/>
    </div>
    <!--Buttons-->
    <button class="btn btn-primary" type="button" style="width: 15%">Login</button>
    <button class="btn btn-primary" type="button" style="width: 15%">Sign Up</button>
</div>


@code {
        
    
//  Stores text input
public string userIdInput { get; set; }
public string userPassword { get; set; }

}