@page "/"
@layout NoNavMenuLayout
<PageTitle>Login</PageTitle>





<!-- This centers the login box-->
<div class="d-flex align-items-center vh-100 flex-column gap-5">
    <!-- Panther Logo-->
    <div class="text-center">
        <img src="images/Raster.png" class="img-fluid" style="width: 25%" alt="Panther Logo">
    </div>
    <h1 style="font-size: 5rem; font-family: Norwester, Arial, sans-serif;">Lucky's Cars</h1>
    <h1>Login</h1>

    <!-- User Id input -->
    <div class="form-group wh-login">
        <input type="text" class="form-control auto-text-inp-size" id="loginInput"
               @bind="userIdInput" placeholder="Email or Username"/>
    </div>
    <div class="form-group wh-login">
        <input type="password" class="form-control auto-text-inp-size" id="passwordInput"
               @bind="userPassword" placeholder="Password"/>
    </div>
    <!--Buttons-->
    <button class="btn btn-primary wh-login" type="button">Login</button>
    <button class="btn btn-primary wh-login" type="button">Sign Up</button>
</div>


@code {
        
    
//  Stores text input
private string userIdInput { get; set; }
private string userPassword { get; set; }


}