@inject DataService DataService
@page "/SignUp"
@using Luckys_Cars.Data
@using Luckys_Cars.Models
@layout NoNavMenuLayout
@rendermode InteractiveServer
@inject NavigationManager Navigation

<PageTitle>Sign Up</PageTitle>

<!-- This centers the login box-->
<div class="d-flex align-items-center vh-100 flex-column gap-4">
    
    
    <!-- Panther Logo-->
    <div class="text-center">
        <img src="images/Raster.png" class="img-fluid" style="width: 25%" alt="Panther Logo">
    </div>
    
    
    <h1 style="font-size: 5rem; font-family: Norwester, Arial, sans-serif;">Lucky's Cars</h1>
    
    <h1>Sign Up</h1>
    @if (!string.IsNullOrWhiteSpace(signupError))
    {
        <div class="d-flex justify-content-center align-items-center" style="height: 10vh;">
            <div class="alert alert-danger text-center" role="alert">
                @signupError
            </div>
        </div>
    }

    <div class="d-flex align-items-center flex-column gap-4" style="width: 20rem">
        <!-- User Id input -->
        <div class="form-group wh-login">
            <input type="text" class="form-control login-text-inp-size" id="loginInput"
                   @bind="newUser.Username" placeholder="Username"/>
        </div>
        <div class="form-group wh-login">
            <input type="email" class="form-control login-text-inp-size" id="emailInput"
                   @bind="newUser.Email" placeholder="Email"/>
        </div>
        <div class="form-group wh-login">
            <input type="password" class="form-control login-text-inp-size" id="passwordInput"
                   @bind="newUser.Password" placeholder="Password"/>
        </div>
        <div class="form-group row gap-1">
            <div class="col">
                <input type="text" class="form-control login-text-inp-size-sm" id="firstNameInput"
                       @bind="firstName" placeholder="First Name"/>
            </div>

            <div class="col">
                <input type="text" class="form-control login-text-inp-size-sm" id="lastNameInput"
                       @bind="lastName" placeholder="Last Name"/>
            </div>
        </div>
        <div class=" row">
            
            
            <!--Buttons-->
            <div class="col d-flex justify-content-center gap-4">
                
                <!-- Navlink didn't like navigating to source page "/"-->
                <button class="btn btn-primary wh-login-sm" type="button" @onclick="GoToLogin"> Back </button>
                <button class="btn btn-primary wh-login-sm" type="button" @onclick="AddUser">Register</button>
            </div>
        </div>
        </div>
    </div>



@code {
        
    
//  Stores text input
    private User_Model newUser = new User_Model();
    private string firstName;
    private string lastName;
    
    
    //Loads Users
    private List<User_Model> users;
    
    //In case of entry error
    private string signupError = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        users = await DataService.GetUsers();
    }

    private async Task AddUser()
    {
        
        newUser.Name = firstName + " " + lastName;
        var (success, message) = await DataService.AddUser(newUser);
        signupError = message;

        if (success)
        {
            Navigation.NavigateTo("/");
        }
    }
    
    void GoToLogin()
    {
        Navigation.NavigateTo("/");
    }
}