@inject AppDbContext _context
@page "/SignUp"
@layout NoNavMenuLayout
@rendermode InteractiveServer
@inject NavigationManager Navigation

<PageTitle>Sign Up</PageTitle>

<!-- This centers the login box-->
<div class="d-flex align-items-center vh-100 flex-column gap-4">
    
    
    <!-- Panther Logo-->
    <div class="text-center">
        <img src="images/Raster.png" class="img-fluid" style="width: 25%" alt="Panther Logo">
    </div>
    
    
    <h1 style="font-size: 5rem; font-family: Norwester, Arial, sans-serif;">Lucky's Cars</h1>
    
    <h1>Sign Up</h1>

    <div class="d-flex align-items-center flex-column gap-4" style="width: 20rem">
        <!-- User Id input -->
        <div class="form-group wh-login">
            <input type="text" class="form-control login-text-inp-size" id="loginInput"
                   @bind="userIdInput" placeholder="Username"/>
        </div>
        <div class="form-group wh-login">
            <input type="email" class="form-control login-text-inp-size" id="emailInput"
                   @bind="userEmailInput" placeholder="Email"/>
        </div>
        <div class="form-group wh-login">
            <input type="password" class="form-control login-text-inp-size" id="passwordInput"
                   @bind="userPassword" placeholder="Password"/>
        </div>
        <div class="form-group row gap-1">
            <div class="col">
                <input type="text" class="form-control login-text-inp-size-sm" id="firstNameInput"
                       @bind="userFirstName" placeholder="First Name"/>
            </div>

            <div class="col">
                <input type="text" class="form-control login-text-inp-size-sm" id="lastNameInput"
                       @bind="userLastName" placeholder="Last Name"/>
            </div>
        </div>
        <div class=" row">
            
            
            <!--Buttons-->
            <div class="col d-flex justify-content-center gap-4">
                
                <!-- Navlink didn't like navigating to source page "/"-->
                <button class="btn btn-primary wh-login-sm" type="button" @onclick="GoToLogin"> Back </button>
                <button class="btn btn-primary wh-login-sm" type="button">Register</button>
            </div>
        </div>
        </div>
    </div>



@code {
        
    
//  Stores text input
    private string userIdInput { get; set; }
    private string userEmailInput { get; set; }
    private string userPassword { get; set; }
    private string userFirstName { get; set; }
    private string userLastName { get; set; }

    private async Task RegisterUser()
    {
        var newUser = new Users
        {
            name = userFirstName + " " + userLastName,
            email = userEmailInput,                  // placeholder for now until extra prompt is added for username
            username = userIdInput,               //
            password = userPassword,
            isAdmin = 0,



        };


    }

    void GoToLogin()
    {
        Navigation.NavigateTo("/");
    }
}