@inherits LayoutComponentBase


<div class="page" style="height: 100vh">
        <NavMenu/>

    <main class="m-0 p-0 container-fluid">

        <article class="content vh-100">
            @Body
        </article>
    </main>
</div>
