<nav class="navbar navbar-expand-lg fixed-top bg-grey border" height="">
    
    <div class="d-flex justify-content-between align-items-center" style="height: 100%; width: 100%">
        <div class="d-flex align-items-center gap-3 h-100">
            <img src="/images/Raster.png" style="max-height: 120%; height: auto;" alt="Raster Image"/>
            <h1 style="font-family: Norwester, Arial, sans-serif">Lucky's Cars</h1>
        </div>
        <div class="d-flex gap-3 h-100 me-2">
            <NavLink>
                <img src="/images/Report-Icon.png" style="max-height: 90%;height: auto" alt="Sales-Report-Icon"/>
            </NavLink>
            <NavLink>
                <img src="/images/User-List-Icon.png" style="max-height: 90%; height:  auto" alt="User-List-Icon"/>
            </NavLink>
            <NavLink>
                <img src="/images/Home-Icon.png" style="max-height: 90%; height: auto" alt="Home-Icon"/>
            </NavLink>
            <NavLink>
                <img src="/images/Cart-Icon.png" style="max-height: 90%; height: auto" alt="Cart-Icon"/>
            </NavLink>
            <NavLink>
                <img src="/images/Profile-Icon.png" style="max-height: 90%; height: auto" alt="Profile-Icon"/>
            </NavLink>


        </div>
    </div>

</nav>