<nav class="navbar navbar-expand-lg fixed-top bg-grey border" height="">
    
    <div class="d-flex align-items-center" style="height: 100%;">
        <img src="/images/Raster.png" style="max-height: 120%; height: auto;" alt="Raster Image"/>
        <h1 style="font-family: Norwester, Arial, sans-serif">Lucky's Cars</h1>
    </div>

</nav>